/* Mobile Styles */
.navbar-9 {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

a {
    text-decoration: none
}


    .navbar-0 {
        /* background-color: #f1f1f1; */
        padding: 10px;
    }

    .navbar-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-2 {
        width: 30vw;
        color: #2460a7ff;
        font-weight: bold;
        text-decoration: none;
        font-size: 28px;
    }
    .navbar-2>a{
        color: #2460a7ff;
    }
    .navbar-3 {
        width: 70vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    
a {
    color: #2460a7ff;
    font-size: 24px;
}

.navbar-4 {
    color: #2460a7ff;
    font-size: 24px;
}