.barcode-0 {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
  }
  
  .barcode-1 {
    margin-top: 20px;
    text-align: center;
  }
  
  .barcode-2 {
    margin-top: 20px;
  }
  
  .barcode-3 {
    font-weight: bold;
  }
  
  .barcode-4 {
    margin-top: 10px;
  }
  
  .barcode-5 {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  .barcode-6 {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .barcode-6:hover {
    background-color: #e53935;
  }
  
  @media (max-width: 600px) {
    .barcode-0 {
      padding: 10px;
    }
    
    .barcode-2 {
      /* display: flex; */
      /* flex-direction: column; */
      align-items: center;
    }
    
    .barcode-5 {
      width: 80%;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .barcode-0 {
      padding: 30px;
    }
    
    .barcode-2 {
      /* display: flex;
      flex-direction: row;
      justify-content: space-between; */
      align-items: center;
    }
    
    .barcode-5 {
      width: 50%;
    }
  }
  