.login-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30vh; */
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login-1, .login-5 {
    margin-bottom: 10px;
  }
  
  .login-2, .login-6 {
    font-weight: bold;
  }
  
  .login-3, .login-6 {
    width: 100%;
    padding: 10px;
  }
  
  .login-4 {
    font-size: 12px;
    color: #777;
  }
  
  .login-7 {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    
  }
  
  .login-7:hover {
    background-color: #e53935;
  }
  
  .login-8 {
    display: block;
    margin-top: 10px;
    color: #f44336;
    text-align: center;
    text-decoration: none;
  }

  .login-9 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-8:hover {
    color: #e53935;
  }
  
  @media (max-width: 1100px) {
    .login-0 {
      /* padding: 20px; */
    }
  }
  
  @media (max-width: 600px) {
    .login-0 {
      /* padding: 10px; */
    }
  
    .login-8 {
      /* position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); */
    }
  }
  
  @media (max-width: 400px) {
    .login-8 {
      bottom: 10px;
    }
  }
  